@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: #0e0f11;
    margin: 0;
}

header {
    margin: 0px;
}



a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* styling the logo  */


.logo-image img{
width: 46px;
height: 40px;
border-radius: 50%;
overflow: hidden;
margin-top: -6px;
display:inline-block;
}



.order {
    text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px yellow;
}

/* Stying the navbar container */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    height: 65px;
    padding: 1em;
    font-size: 25px;
}

.menu li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}
/*Container for menu button  */

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}
/*  Creating the hamburger menu button  */

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
    color: white;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}
 /*  Adding Functionality to the Hamburger Menu with CSS  */
    
 #menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #fff;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
}

 /* media queries  */
    
 @media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header{
        padding: 0%;
    }
    
    
    section {
        padding: 0rem;
    }
}

@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem
    }
    .menu li:hover {
        transform: scale(1);
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid rgb(191, 137, 137);
        height: 2.5em;
        padding: 0.5em;
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #e2abab;
        background-color: #ac5959;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
header.masthead, .jumbotron {
    position: relative;
    width: 100%;
    padding-top: 150px;
    color: white;
    background: linear-gradient(to right, #00031d, #000536);
    background-attachment: fixed;
}
header.masthead .header-content {
    margin-bottom: 100px;
    text-align: center;
}
.hero-buttons.last {
    border-color: #1adb80 !important;
    background: #1adb80 !important;
    display: block;
    /* width: 250px; */
    text-align: center;
}
